{% extends "base.html"%}
{% block content %}
        <div di="i">
            <div id="j"> 
                <h1>About Typing Speed</h1>
            </div>    
        </div>
        <div id="myclass">
        <p>Typing Speed, this is a solo project done by using django framework ,html and css. Typing speed is a valuable skill that can contribute to efficiency and productivity in various personal and professional tasks. So, improve yours.</p>    
        <p style="text-align:center">Thank you!!!</p>
        </div>
        {% endblock %}