{% extends 'my_receipe/base.html' %}
{% block content %}
<h1>Recipe ID. {{ object.id }}</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Author: {{ object.author }}</h6>
                    <p class="card-text"><b>Ingredients:</b><br>{{ object.ingredients }}</p>
                    <p class="card-text"><b>Instruction:</b><br>{{ object.description }}</p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Last Updated: {{ object.updated_at|date:"F d, Y" }}</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-4">
                {% if object.photo %}
                <img src="{{ object.photo.url }}" class="card-img-top" alt="Recipe Photo">
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if object.author == user or user.is_superuser %}
<div class="col-4">
    <a class="btn btn-outline-info" href="{% url 'receipe-update' object.id %}">Update</a>
    <a class="btn btn-outline-danger" href="{% url 'receipe-delete' object.id %}">Delete</a>
</div>
{% endif %}
{% endblock content %}
